.Item,.Rectangle,.Text,.MouseArea,.Row,.Column,.Repeater {
    position: absolute;
    /*width: auto;*/
}
#root {

}

#control {
    margin-left: 800px;
}

table.Row tr{
    padding: 0px;
}

table.Row tr td{
    padding: 0px;
}

table.Row {
    border-spacing: 0px;
}